<% content_for :title, "Войти - Make Meet" %>

<div class="login-section">
  <div class="login-background">
    <div class="login-background-gradient"></div>
  </div>
  
  <div class="login-card">
    <h1 class="login-title">Рады возвращению!</h1>
    <form class="login-form">
      <input type="email" class="login-input" placeholder="Почта" required>
      <input type="password" class="login-input" placeholder="Пароль" required>
      <button type="submit" class="login-submit-button">Войти</button>
    </form>
  </div>
</div>

