<% content_for :title, "Страница 1 - Make Meet" %>

<div class="page-container">
  <h1><%= @title %></h1>
  <div class="content">
    <p><%= @content %></p>
    
    <div class="features">
      <h2>Возможности приложения:</h2>
      <ul>
        <li>Простая навигация между страницами</li>
        <li>Адаптивный дизайн</li>
        <li>Современный интерфейс</li>
        <li>Быстрая загрузка</li>
      </ul>
    </div>
  </div>
</div>
